<a href="https://colab.research.google.com/github/RadhikaDeshpande1010/File-Handling-Company-Nested-Json-Data/blob/main/File_Handling_Comapny_JSON_NestsedData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json

with open("/content/sample_data/company_nested_data.json", "r") as file:
  file_lines = json.load(file)

company = file_lines["company"]
name = company["name"]
departments = company["departments"]
locations = company["locations"]

print("Company Name:",name)

for dept in departments:
  dept_id = dept["dept_id"]
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  print("Dept Id:",dept_id)
  print("Department Name:", dept_name)

  for emp in employees:
    emp_id = emp["emp_id"]
    emp_name = emp["name"]
    skills = emp["skills"]
    salary = emp["salary"]

    print("Employee Id:",emp_id)
    print("Employee Name:",emp_name)
    print("Employee Skills:",skills)
    print("Employee Salary:",salary)

print("Company locations:",locations)

Company Name: TechNova
Dept Id: 101
Department Name: IT
Employee Id: 1
Employee Name: Amit
Employee Skills: ['Python', 'SQL']
Employee Salary: 60000
Employee Id: 2
Employee Name: Riya
Employee Skills: ['Java', 'Spring']
Employee Salary: 55000
Employee Id: 3
Employee Name: Suresh
Employee Skills: ['Python', 'Django']
Employee Salary: 65000
Dept Id: 102
Department Name: HR
Employee Id: 4
Employee Name: Neha
Employee Skills: ['Recruitment']
Employee Salary: 45000
Employee Id: 5
Employee Name: Rahul
Employee Skills: ['Communication', 'Excel']
Employee Salary: 40000
Dept Id: 103
Department Name: Finance
Employee Id: 6
Employee Name: Karan
Employee Skills: ['Accounting', 'Excel']
Employee Salary: 70000
Employee Id: 7
Employee Name: Pooja
Employee Skills: ['Taxation']
Employee Salary: 68000
Company locations: ['Delhi', 'Mumbai', 'Bangalore', 'Hyderabad']

In [29]:
'''
ðŸ”¹ Question 1: Company Name
Task:
Read the JSON file and print the company name.

Input:
company_data.json

Output:
Company Name
'''
company = file_lines["company"]
name = company["name"]
print("Company Name:", name)

Company Name: TechNova

In [30]:
'''
ðŸ”¹ Question 2: Total Departments
Task:
Find the total number of departments in the company.

Input:
company_data.json

Output:
Total Departments Count
'''
company = file_lines["company"]
departments = company["departments"]

dept_count = 0

for dept in departments:
  dept_id = dept["dept_id"]

  dept_count += 1

print("Total Departments:", dept_count)

Total Departments: 3

In [31]:
'''
ðŸ”¹ Question 3: Department Names List
Task:
Extract and print all department names as a Python list.

Input:
company_data.json

Output:
List of Department Names
'''
company = file_lines["company"]
departments = company["departments"]

python_departments = []

for dept in departments:
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  for emp in employees:
    skills = emp["skills"]

    if "Python" in skills:
      python_departments.append(dept_name)
      break
print(python_departments)

['IT']

In [32]:
'''
ðŸ”¹ Question 4: Total Employees
Task:
Count the total number of employees across all departments.

Input:
company_data.json

Output:
Total Employees Count
'''
company = file_lines["company"]
departments = company["departments"]

total_employees = {}

for dept in departments:
  dept_id = dept["dept_id"]
  employees = dept["employees"]

  for emp in employees:

    if dept_id in total_employees:
      total_employees[dept_id] += 1
    else:
      total_employees[dept_id] = 1

print("The total number of employees across all departments:", total_employees)

The total number of employees across all departments: {101: 3, 102: 2, 103: 2}

In [33]:
'''
ðŸ”¹ Question 5: Employees in IT Department
Task:
Print names of all employees working in the IT department.

Input:
company_data.json

Output:
Employee Names (IT Department)
'''
company = file_lines["company"]
departments = company["departments"]

IT_employees = {}

for dept in departments:
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  for emp in employees:
    emp_id = emp["emp_id"]
    emp_name = emp["name"]

    if dept_name == "IT":
      IT_employees[emp_id] = emp_name
print("Employees in IT Department:")

for key, value in IT_employees.items():
  print(f"Employee id: {key}, Employee Name: {value}")

Employees in IT Department:
Employee id: 1, Employee Name: Amit
Employee id: 2, Employee Name: Riya
Employee id: 3, Employee Name: Suresh

In [34]:
'''
ðŸ”¹ Question 6: Employees with Python Skill
Task:
Find and print names of employees who have Python as a skill.

Input:
company_data.json

Output:
Employee Names with Python Skill
'''
company = file_lines["company"]
departments = company["departments"]

python_departments = []

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    emp_name = emp["name"]
    skills = emp["skills"]

    if "Python" in skills:
      python_departments.append(emp_name)

print(python_departments)

['Amit', 'Suresh']

In [35]:
'''
ðŸ”¹ Question 7: Average Salary of All Employees
Task:
Calculate the average salary of all employees.

Input:
company_data.json

Output:
Average Salary
'''
company = file_lines["company"]
departments = company["departments"]

emp_count = 0
salary_sum = 0

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    salary = emp["salary"]

    emp_count += 1
    salary_sum += salary
  avg_salary = salary_sum/emp_count
print(f"The average salary of all employees: {avg_salary:.2f}.")

The average salary of all employees: 57571.43.

In [36]:
'''
ðŸ”¹ Question 8: Highest Paid Employee
Task:
Find the name and salary of the highest paid employee.

Input:
company_data.json

Output:
Employee Name, Salary
'''
company = file_lines["company"]
departments = company["departments"]

highest_pay = 0
emp_name = ''

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    salary = emp["salary"]

    if salary > highest_pay:
      highest_pay = salary
      emp_name = name
print(f"{emp_name} is the highest paid employee with {highest_pay} salary.")

Karan is the highest paid employee with 70000 salary.

In [37]:
'''
ðŸ”¹ Question 9: Department-wise Employee Count
Task:
Create a dictionary showing department name as key and number of employees as value.

Input:
company_data.json

Output:
Dictionary (Department â†’ Employee Count)
'''
employee_department_count = {}

company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  for emp in employees:
    if dept_name in employee_department_count:
      employee_department_count[dept_name] += 1
    else:
      employee_department_count[dept_name] = 1
print(employee_department_count)

{'IT': 3, 'HR': 2, 'Finance': 2}

In [38]:
'''
ðŸ”¹ Question 10: Company Locations
Task:
Print all company locations in separate lines.

Input:
company_data.json

Output:
Each Location on New Line
'''
company = file_lines["company"]
name = company["name"]
departments = company["departments"]
locations = company["locations"]

print("Company locations:")

for l in locations:
  print(l)

Company locations:
Delhi
Mumbai
Bangalore
Hyderabad

In [2]:
'''
ðŸ”¹ Question 11: Employee Name â†’ Department
Task:
Create a dictionary where:

key = employee name (string)

value = department name (string)

Output:
{ 'Amit': 'IT', 'Riya': 'IT', ... }
'''
emp_name_department = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]

    emp_name_department[name] = dept_name

print(emp_name_department)

{'Amit': 'IT', 'Riya': 'IT', 'Suresh': 'IT', 'Neha': 'HR', 'Rahul': 'HR', 'Karan': 'Finance', 'Pooja': 'Finance'}

In [6]:
'''
ðŸ”¹ Question 12: Uppercase Employee Names
Task:
Create a dictionary where:

key = employee ID

value = employee name converted to UPPERCASE

Output:
{1: 'AMIT', 2: 'RIYA', ...}
'''
employee_names = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    emp_id = emp["emp_id"]
    name = emp["name"]

    employee_names[emp_id] = name
print(employee_names)

{1: 'Amit', 2: 'Riya', 3: 'Suresh', 4: 'Neha', 5: 'Rahul', 6: 'Karan', 7: 'Pooja'}

In [10]:
'''
ðŸ”¹ Question 13: First Character of Employee Names
Task:
Create a dictionary where:

key = employee name

value = first character of the name

Output:
{'Amit': 'A', 'Riya': 'R', ...}
'''
first_char_employee_names = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]

    first_char_employee_names[name] = name[0].upper()
print(first_char_employee_names)

{'Amit': 'A', 'Riya': 'R', 'Suresh': 'S', 'Neha': 'N', 'Rahul': 'R', 'Karan': 'K', 'Pooja': 'P'}

In [12]:
'''
ðŸ”¹ Question 14: Name Length Mapping
Task:
Create a dictionary where:

key = employee name

value = length of the employee name

Output:
{'Amit': 4, 'Suresh': 6, ...}
'''
name_length_mapping = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    name_length = len(name)

    name_length_mapping[name] = name_length
print(name_length_mapping)

{'Amit': 4, 'Riya': 4, 'Suresh': 6, 'Neha': 4, 'Rahul': 5, 'Karan': 5, 'Pooja': 5}

In [13]:
'''
ðŸ”¹ Question 15: Department Name â†’ Uppercase
Task:
Create a dictionary where:

key = department name

value = department name in uppercase

Output:
{'IT': 'IT', 'HR': 'HR', 'Finance': 'FINANCE'}
'''
department_name = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  dept_name = dept["dept_name"]

  department_name[dept_name] = dept_name.upper()
print(department_name)

{'IT': 'IT', 'HR': 'HR', 'Finance': 'FINANCE'}

In [25]:
'''
ðŸ”¹ Question 16: Employee Name â†’ Skills String
Task:
Create a dictionary where:

key = employee name

value = all skills joined into a single string separated by commas

Output:
{'Amit': 'Python, SQL', 'Karan': 'Accounting, Excel'}
'''

employee_skills = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    skills = emp["skills"]

    if name in employee_skills:
      employee_skills[name].extend(skills)
    else:
      employee_skills[name] = skills

emp_skills_str = {name: ", ".join(skills) for name, skills in employee_skills.items()}
print(emp_skills_str)

{'Amit': 'Python, SQL', 'Riya': 'Java, Spring', 'Suresh': 'Python, Django', 'Neha': 'Recruitment', 'Rahul': 'Communication, Excel', 'Karan': 'Accounting, Excel', 'Pooja': 'Taxation'}

In [23]:
'''
ðŸ”¹ Question 17: Skill â†’ Employees String
Task:
Create a dictionary where:

key = skill name

value = string of employee names separated by |

Output:
{'Python': 'Amit|Suresh', 'Excel': 'Rahul|Karan'}
'''
skills_emp_name = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    skills = emp["skills"]

    for skill in skills:

      if skill in skills_emp_name:
        skills_emp_name[skill].append(name)
      else:
        skills_emp_name[skill] = [name]

emp_name_str = {skills: "| ".join(name) for skills, name in skills_emp_name.items()}
print(emp_name_str)

{'Python': 'Amit| Suresh', 'SQL': 'Amit', 'Java': 'Riya', 'Spring': 'Riya', 'Django': 'Suresh', 'Recruitment': 'Neha', 'Communication': 'Rahul', 'Excel': 'Rahul| Karan', 'Accounting': 'Karan', 'Taxation': 'Pooja'}

In [39]:
'''
ðŸ”¹ Question 18: Employee Name â†’ Last Character
Task:
Create a dictionary where:

key = employee name

value = last character of the name

Output:
{'Amit': 't', 'Pooja': 'a'}
'''
last_char_employee_names = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]

    last_char_employee_names[name] = name[-1]

print(last_char_employee_names)

{'Amit': 't', 'Riya': 'a', 'Suresh': 'h', 'Neha': 'a', 'Rahul': 'l', 'Karan': 'n', 'Pooja': 'a'}

In [26]:
'''
ðŸ”¹ Question 19: Department Name â†’ Name Length List
Task:
Create a dictionary where:

key = department name

value = list containing lengths of employee names in that department

Output:
{'IT': [4, 4, 6], 'HR': [4, 5]}
'''
department_emp_name = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  dept_name = dept["dept_name"]
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    name_length = len(name)

    if dept_name in department_emp_name:
      department_emp_name[dept_name].append(name_length)
    else:
      department_emp_name[dept_name] = [name_length]
print(department_emp_name)

{'IT': [4, 4, 6], 'HR': [4, 5], 'Finance': [5, 5]}

In [28]:
'''
ðŸ”¹ Question 20: Employee Name â†’ Reversed Name
Task:
Create a dictionary where:

key = employee name

value = reversed string of the employee name

Output:
{'Amit': 'timA', 'Riya': 'ayiR'}
'''
emp_name = {}
company = file_lines["company"]
departments = company["departments"]

for dept in departments:
  employees = dept["employees"]

  for emp in employees:
    name = emp["name"]
    reverse_name = name[::-1]

    emp_name[name] = reverse_name

print(emp_name)

{'Amit': 'timA', 'Riya': 'ayiR', 'Suresh': 'hseruS', 'Neha': 'aheN', 'Rahul': 'luhaR', 'Karan': 'naraK', 'Pooja': 'ajooP'}